<main>
  <section>
    <div class="about-header header">
      <div class="three-quarter-width left">
        <div class="container-header">
          <h1>ABOUT</h1>
        </div>
      </div>
      <div class="quarter-width right">
        <h2>RESUME</h2>
        <ul>
          <li>Skill Name</li>
          <li>Skill Name</li>
          <li>Skill Name</li>
          <li>Skill Name</li>
          <li>Skill Name</li>
        </ul>

      </div>
    </div>
    <div class="clear"></div>
  </section>
  <section class="about-content">
    <div class="container-text">
      <p class="introduction">From troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</p>

  <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. “What’s happened to me?” he thought. It wasn’t a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
     <h4>CURRENT POSITION - interface designer, boston college</h4>
    <h4>TEAM</h4>
    <h2>SKILLS</h2>
            <ul>
          <li>Skill Name</li>
          <li>Skill Name</li>
          <li>Skill Name</li>
          <li>Skill Name</li>
          <li>Skill Name</li>
        </ul>
    </div>
  </section>
</main> 
<footer><div ng-include='"templates/footer.html"'></div></footer>