<main>
  <section>
    <div class="about-header header">
      <div class="three-quarter-width left">
        <div class="container-header">
          <h1>ABOUT</h1>
        </div>
      </div>
      <div class="quarter-width right" ng-controller="ResumeCtrl">
       <h2>POSITIONS</h2>
       <div class="resume" ng-repeat="job in resume">
         <h3 class="position">{{job.position}}</h3>
         <span class="location">{{job.location}}</span>
         <div class="date-tag">
           <span class="date-tag-start">{{job.startdate}}</span>
           <span class="date-tag-end">{{job.enddate | truncate}}</span>
         </div>
       </div>
       <br /><br />
       <a href="" class="button"><span class="ti-align-left"></span>  Download Resume</a>
      </div>
    </div>
    <div class="clear"></div>
  </section>
  <section class="about-content">
    <div class="container-wide">
      <div class="about-name">
        <hr />
        <h2>MIKAL MORELLO</h2>
        <p>Design, Development &amp; Strategy</p>
      </div>
      <div class="about-description">
        <p>From troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</p>
      </div>
      <div class="about-education">
        <p><b>Bachelors of Business Administration in Marketing</b><br />
        <span class="small">Minor in Fine Arts</span><br /><br />
        Isenberg School of Management at the University of Massachusetts Amherst</p>
      </div>
    </div>
    <div class="clear"></div>
  </section>
  <section class="about-abilities">
    <div class="about-abilities-container">
      <div class="about-experience">
        <h3>Experience</h3>
        <ul>
          <li>Accessibility</li>
          <li>Agile</li>
          <li>Design</li>
          <li>Development</li>
          <li>Marketing</li>
          <li>Strategy</li>
        </ul>
      </div>
      <div class="about-skills">
        <h3>Skills</h3>
        <ul>
          <li>CSS</li>
          <li>HTML</li>
          <li>AngularJS</li>
          <li>Adobe Suite</li>
          <li>Sketch</li>
          <li>GIT</li>
        </ul>
      </div>
      <div class="about-training">
        <h3>Training</h3>
        <ul>
          <li>Understanding JavaScript  <span class="pull-right">bocoup - 2013</span></li>
          <li>Designing for Mobile Now<span class="pull-right">Event Apart - 2013</span></li>
          <li>Designing for Mobile &amp; Beyond<span class="pull-right">Event Apart - 2012</span></li>
          <li>Web Application Development<span class="pull-right">Boston College - 2011</span></li>
          <li>Graphic Design<span class="pull-right">MassArt - 2009</span></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </section>
</main> 
<footer ng-class="footerClass"><div ng-include='"templates/footer.html"'></div></footer>