<main>
  <section class="article">
    <div class="article-header header" ng-style="{'background-image': 'url('+ detail.image +')'}">
      <a href="/articles" class="back fix-to-top"><span class="ti-angle-left icon"></span><span class="hover-text">Back</span></a>
      <div class="container-header">
        <h1>{{detail.articletitle}}</h1>
      </div>
    </div>
    <!--<a href="#/articles" class="back"><span class="ti-angle-left"></span><span class="accessible-text">Back</span></a>-->
    <div class="container-text">
        <div class="first-character" ng-include="detail.url"></div>
    </div>  
  </section>
</main>
<footer ng-class="footerClass"><div ng-include='"templates/footer.html"'></div></footer>