<main>
  <div class="half-width left">
    <div class="text-center vertical-align-middle">
      <!--<img src="assets/images/pacific-dark.png" class="brand-image"/>-->
      <div class="home-text">
        <hr />
        <h1>MIKAL MORELLO</h1>
        DESIGN, DEVELOPMENT &amp; STRATEGY
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam, nunc ac maximus feugiat, elit arcu vehicula mi, in tristique sapien mi ac purus. Aliquam ullamcorper vel nulla eu molestie.</p>
      </div>
    </div>
  </div>
  <div class="half-width right">
      <div class="highlight-video text-center vertical-align-middle">
        <img src="assets/images/header-branding-placer.png" class="brand-image"/><br />
        <h1>Project Name</h1>
        <a href="/projects">PROJECTS LIST</a>
      </div>
      <section class="gradient-overlay-home full-size">
        x
      </section>
      <!--<section class="gradient-overlay video-background">
          <video id="video_background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
        <source src="https://s3.amazonaws.com/www-assets.invisionapp.com/Homepage/enterprise-loop.webm" type="video/webm"/>
        <source src="https://s3.amazonaws.com/www-assets.invisionapp.com/Homepage/enterprise-loop.mp4" type="video/mp4"/>
        Video not supported 
      </video>
      </section>-->
  </div>
</main>
<footer><div ng-include='"templates/footer.html"'></div></footer>