<section>
  <div class="projects-header">
    <div class="container-header">
      <h1>Projects</h1>
    </div>
  </div>
</section>
<section>
  <div class="container-card card-list pull-top">
      <div class="card" ng-repeat="project in projects">
        <div class="card-header" ng-style="{'background-image': 'url('+ project.image +')'}"></div>
          <h2><a href="#/projects/{{project.title}}">{{project.title}}</a></h2>
          <a href="#/projects/{{project.title}}" role="button">ISOLATE</a>
          <br />
          <small>{{project.subtitle}}</small>
          <p>{{project.description}}</p>
          <p>{{project.image}}</p>
      </div>
      <div class="clear"></div>
  </div>
</section>