<section>
  <div class="project-header" ng-style="{'background-image': 'url('+ detail.image +')'}">
    <div class="container-header">
      <h1>{{detail.title}}</h1>
    </div>
  </div>
  <a href="#/projects" class="back">Back</a>
  <div class="container-text">
    <aside style="float:right; position:relative; background: #eee; width: 15em; margin-top: 20px; margin-right: -6em; margin-left: 2em; padding: 1em;">
      {{detail.role}}
      <br />
      {{detail.skills}}
    </aside>
      <div class="first-character" ng-include="detail.url"></div>
  </div>
    
</section>