<main>
  <section class="project">
    <div class="project-header header" ng-style="{'background-image': 'url('+ detail.image +')'}">
            <a href="#/projects" class="back fix-to-top"><span class="ti-angle-left icon"></span><span class="hover-text">Back</span></a>
      <div class="container-header">
        <h1>{{detail.title}}</h1>
        <hr class="small"/>
        <small>{{detail.subtitle}}</small>
      </div>
    </div>
    <div class="container-text">
      <aside>
      <img ng-src="{{detail.brandimage}}" class="project-brand"/>
        <h3>ROLES</h3>
        <div ng-repeat="role in detail.roles">
            <a href="">{{role.rolename}}</a>
        </div>
        <hr />
        <!-- TEST SKILLS LIST -->
        <h3>SKILLS</h3>
        <div class="skill" ng-repeat="skill in detail.skills">
            <a href="">{{skill.skillname}}</a>
        </div>
      </aside>
        <div class="first-character" ng-include="detail.url"></div>
    </div>
  </section>
  <!--<section class="project-nav">
    <div class="previous">PREVIOUS</div>
    <div class="next">NEXT</div>
  </section>-->
</main>
 <footer><div ng-include='"templates/footer.html"'></div></footer>