/* ARTICLES */

  .about-header {
    top: 0;
    //position: relative;
    //float: left;
    //margin-top: -75px;
  }

  .about-header h1 {
    color: #111;
  }

  .about .three-quarter-width {
    background-position:  top center;
    background: url("../assets/images/mikal-photo.jpg");
    background-repeat: none;
    background-size: cover;
    float: left;
    height: 800px;
    position: relative;
  }

  .about .quarter-width {
    background: #eee;
    color:#111;
    height: 800px;
    float: left;
    padding:  100px 50px;
    position: relative;
  }