/* ARTICLES */

  .about-header h1 {
    color: #fff;
  }

  .about .three-quarter-width {
    background-position:  top center;
    background: url("../assets/images/mikal-photo.jpg");
    float: left;
    height: 800px;
    position: relative;
  }

  .about .quarter-width {
    background: #fff;
    height: 800px;
    float: left;
    position: relative;
  }