/* ARTICLES */

  .article-header {
    background-attachment: fixed;
    background-position:  top center;
    height: 300px;
    //overflow: hidden;
    width: 100%;
  }

  .articles-header {
    background-color: #111;
    background-attachment: fixed;
    background-position:  top center;
    color:#fff;
    height: 300px;
    width: 100%;
  }

  .article-header h1 {
      color: #fff;
  }