/* ARTICLES */

  .article-header {
    background-attachment: fixed;
    background-position:  top center;
    height: 300px;
    //overflow: hidden;
  }

  .articles-header {
    background-color: #111;
    background-attachment: fixed;
    background-position:  top center;
    height: 300px;
  }

  .article-header h1 {
      color: #fff;
  }

.article .card {
  
}