/* HEADER */
header {
    background: none;
    box-sizing: border-box;
    display: block;
    height:  60px;
    //float: left;
    position: relative;
    margin-bottom: -60px;
    width: 100%;
    z-index: 12;
}

header a {
  color: #fff;
}

.fix-to-top {
    position: fixed;
    top: 0;
    z-index: 12;
}

/* MENU OVERLAY MORPHING BUTTON */

.menu-overlay {
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  float: left;
  height: 55px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-indent: -9999px;
  transition: background 0.3s;
  width: 60px;
}

.menu-overlay:focus {
  outline: none;
}

.menu-overlay span {
  display: block;
  position: absolute;
  top: 24px;
  left: 14px;
  right: 14px;
  height: 5px;
  background: $header-color;
}

.menu-overlay span::before,
.menu-overlay span::after {
  background-color: $header-color;
  content: "";
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  width: 100%;
}

.menu-overlay span::before {
  top: -10px;
}

.menu-overlay span::after {
  bottom: -10px;
}
.menu-overlay-transform {
  background-color: $menu-background;
}

.menu-overlay-transform span {
  transition: background 0s 0.3s;
}

.menu-overlay-transform span::before,
.menu-overlay-transform span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.menu-overlay-transform span::before {
  transition-property: top, transform;
}

.menu-overlay-transform span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.menu-overlay-transform.is-active {
  background-color: darken( $menu-background, 10% );
}

.menu-overlay-transform.is-active span {
  background: none;
}

.menu-overlay-transform.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.menu-overlay-transform.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.menu-overlay-transform.is-active span::before,
.menu-overlay-transform.is-active span::after {
  transition-delay: 0s, 0.3s;
}

/* BRANDING */
.branding {
    color: $header-color;
    float: left;
    margin: 0 auto;
    
}

