$font-stack: 'Libre Baskerville', serif;
$font-title: 'Oswald', sans-serif;
$font-sans: 'Helvetica';
$primary-color: #333;
$menu-background: #E1CF84;
$header-color: #fff;
$header-placer: url('../assets/images/header-placer.png');