/* CONTACT */
/*
- CONTACT CARD
- CONTACT CARD STATES
- CONTACT PAGE
*/



// CONTACT CARD

.contact-card {
  background-image: url(/assets/images/wave-group.svg);
  background-position: bottom center;
  background-repeat: repeat-x;
  color: $type-dark;
  display: flex;
  justify-content: center;
  width: 100%;
  &__container {
    @include container-small;
    @include layout-vertical-padding($vertical-padding-standard);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  &__titles {
    a {
      @include link-dark;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
  &__icon {
  }
}


// CONTACT CARD STATES

.contact-card--full {
  background-color: $theme-light-green; 
  @include layout-vertical-padding($vertical-padding-standard);
  .contact-card {
    &__title {
      @include contact-large-text(uppercase);
      margin-bottom: $padding-standard-size;
      @include breakpoint($tablet) {
        letter-spacing: $letter-space-large;
        line-height: 1.4em;
      }
      
    }
    &__subtitle {
      @include contact-small-text(uppercase); 
      @include breakpoint($tablet) {
        letter-spacing: $letter-space-large;
      }
    }
  }
}

.contact-card--minimal {
  min-height: 14.75rem;
  .contact-card {
    &__container {
      justify-content: start; 
    }
    &__titles {
      a {
        @include link-dark-underline;
        padding-bottom: $link-padding;
      }
    }
    &__title {
      @include contact-small-text(uppercase); 
      letter-spacing: $letter-space-large;
    }
  }
}


// CONTACT PAGE

.contact {
}
