/* FORM */
/*
- FORM
- FORM STATES
- FORM VALIDATION
*/


// FORM

.form {
  &__label {
    @include screen-reader-text();
  }
  &__input {
    @include form-input;
    @include placeholder($theme-dark);
    background: transparent;
    border: 1px solid $theme-dark;
    color: $theme-dark;
    transition: background 0.3s ease;
    &:hover,
    &:active,
    &:valid {
      background: tint($theme-light-green, 80%);
    }
  }
  &__submit {
    @include form-input;
    @include button-outline($theme-light-green, $button-border);
    background: rgba($theme-dark, 1);
    color: $white;
    height: 5rem;
    transition: all 0.3s ease;
    &:hover,
    &:active {
    }
  }
}


// FORM STATES

.form--vertical {
  display: flex;
  flex-direction: column;
}


// FORM VALIDATION