/* HORIZONTAL SCROLL */
/*
- HORIZONTAL SCROLL
- HORIZONTAL SCROLL STATES
*/


// HORIZONTAL SCROLL

.horizontal-scroll {
  background-image: url(/assets/images/pattern-paper-fiber.png);
  background-repeat: repeat;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  &__title {
    @include subheader-text;
    margin-bottom: .5rem;
  }
  &__description {
    @include body-text;  
  }
  &__item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__items {
    cursor: pointer;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: $padding-large-size $padding-small-size;
    position: relative;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    user-select: none;
    width: 100%;
    will-change: transform;
  }
  &__items--active {
    background: rgba(0,0,0,0.3);
    cursor: grabbing;
    transform: scale(1);
  }
  &__item {
    display: inline-block;
    margin: 2em 1em;
    vertical-align: top;
  }
  &__item-label {
    @include header-title-small(uppercase);
    margin-top: $padding-standard-size;
    text-align: center;
  }
}


// HORIZONTAL SCROLL STATES


.horizontal-scroll--left {
  .horizontal-scroll {
    &__item-container {
      height: 28rem;
    }
    &__item {
      height: 28rem;
      &:first-child {
        width: 300px;
        white-space: normal;
      }
    }
  }
}

.horizontal-scroll--center {
  .horizontal-scroll {
    &__item-container {
      height: 700px;
    }
    &__item {
      height: 700px;
    }
  }
}
