/* HORIZONTAL SCROLL */
/*
- HORIZONTAL SCROLL
- HORIZONTAL SCROLL STATES
*/


// HORIZONTAL SCROLL

.horizontal-scroll {
  background-image: url(/assets/images/pattern-paper-fiber.png);
  background-repeat: repeat;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  &__title {
    @include subheader-text;
    margin-bottom: .5rem;
  }
  &__description {
    @include body-text;  
  }
  &__item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  &__items {
    cursor: pointer;
    margin: 0 auto;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding: $vertical-padding-none $padding-small-size;
    position: relative;
    text-align: center;
    transition: all 0.2s;
    transform: scale(0.98);
    user-select: none;
    white-space: nowrap;
    width: 100%;
    will-change: transform;
    @include breakpoint($tablet) {
      padding: $padding-large-size $padding-small-size;
    }
  }
  &__items--active {
    background: rgba(0,0,0,0.3);
    cursor: grabbing;
    transform: scale(1);
  }
  &__item {
    display: inline-block;
    margin: 2em 1em;
    vertical-align: top;
    img {
      max-height: 20rem;
      @include breakpoint($tablet) {
        max-height: inherit;
        min-width: 100%;
        width: 100%;
        
      }
    }
  }
  &__item-label {
    @include header-title-small(uppercase);
    margin-top: $padding-standard-size;
    text-align: center;
  }
  &__item-media {
    width: auto;
  }
}


// HORIZONTAL SCROLL STATES


.horizontal-scroll--left {
  .horizontal-scroll {
    &__item-container {
      height: 28rem;
    }
    &__item {
      height: 28rem;
      &:first-child {
        width: 12.5rem;
        white-space: normal;
        @include breakpoint($tablet) {
          width: 18.75rem;
        }
      }
      
    }
  }
}

.horizontal-scroll--center {
  .horizontal-scroll {
    &__item-container {
      height: 43.75rem;
    }
    &__item {
      height: 43.75rem;
    }
  }
}
