/* INTRODUCTION */
/*
- INTRODUCTION
*/


// INTRODUCTION

.introduction {
  color: $type-dark;
  text-align: center;
  &__container {
    @include container-small;
    @include introduction-text;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__text {
      @include layout-vertical-padding($vertical-padding-standard);
  }
  &__divider {
    width: $divider-width;
  }
}