/* LIGHTBOX MODAL */
/*
- MODAL
*/


// MODAL

.modal {
  background-color: rgba(0,0,0,0.9);
  display: none;
  height: 100%; 
  left: 0;
  overflow: auto;
  padding-top: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-index-lightbox;
  &__content {
    animation-name: zoom;
    animation-duration: 0.6s;
    cursor: pointer;
    display: block;
    height: auto;
    margin: auto;
    max-width: 70rem;
    min-height: auto;
    min-width: auto;
    transition: 0.3s;
    width: 80vw;
  }
  &__caption {
    color: $white;
    display: block;
    margin: auto;
    width: 80%;
    text-align: center;
  }
  &__button {
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    right: 35px;
    top: 15px;
    transition: 0.3s;
    &:hover, 
    &:focus {
      color: #bbb;
      cursor: pointer;
      text-decoration: none;
    }
  }
  &.modal--open {
    display: block;
  }
  &.modal--closed {
    display: none;
  }
}