/* MEDIA */
/*
- MEDIA BLOCK
- MEDIA BLOCK STATES
- MEDIA BACKGROUND BLOCK
- MEDIA BACKGROUND BLOCK STATES
- MEDIA GRID
- MEDIA CARDS
*/


// MEDIA BLOCK

.media-block {
}


// MEDIA BLOCK STATES

.media-block--fullwidth {
  min-width: $container-max;
}


// MEDIA BACKGROUND

.media-background {
  @include layout-container;
  align-items:center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  object-fit: contain;
  max-width: $container-max;
  width: 100%;
  &__title {
    @include subheader-text;
    @include layout-vertical-padding($vertical-padding-large);
    text-align: center;
  }
  &__subtitle {
  }
  &__content {
    max-width: $container-normal;
  }
}

// MEDIA BACKGROUND STATES

.media-background--grid {
  background: no-repeat;
  background-image: url(/assets/images/tufts-standard-grid-banner.jpg);
  background-position: top center;
  
}


// MEDIA GRID

.media-grid {
  color: $white;
  display: grid;
  grid-template-areas: 
    'media-one media-two media-introduction'
    'media-three media-four media-introduction'
    'media-three media-four media-five';
  grid-template-columns: 33% 33% 33%; 
  grid-template-rows: 50% 25% 25%; 
  height: 824px;
  max-width: $container-wide;
  overflow: hidden; 
  width: 100%;
  
  &__introduction {
    @include media-overlay-text;
    align-items: center;
    background: $theme-dark; 
    display: flex;
    grid-area: media-introduction;
    justify-content: center;
    padding: $padding-medium-size;
    grid-area: media-introduction;
    text-align: center;
  }
  &__media {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    &--one {
      grid-area: media-one;
    }
    &--two {
      grid-area: media-two;
    }
    &--three {
      grid-area: media-three;
    }
    &--four {
      grid-area: media-four;
    }
    &--five {
      grid-area: media-five;
    }
  }
    &__media-element {
      display: flex;
      height: 100%;
      position: absolute;
      width: 100%;
      img {
        position: relative;
      }
    }
    &__media-text {
      @include media-overlay-text;
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
      z-index: $z-media-title;
      a {
        @include link-light;
        @include animate-opacity;
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        opacity: 0;
        width: 100%;
        &:hover {
          opacity: 100;
          background-color: rgba($theme-dark, 0.9);
        }
      }
    }
}

// MEDIA CARDS

.media-cards {
  @include flex-center;
  background-image: url(/assets/images/pattern-paper-fiber.png);
  background-position: 100% calc(100% - 200px); 
  background-repeat: repeat;
  margin-top: 15rem;
  width: 100%;
  &__container {
    @include flex-center;
    max-width: $container-wide;
  }
  &__introduction {
    @include flex-center;
    margin-top: -15rem;
    text-align: center;
  }
  &__introduction-header {
    @include flex-center;
    @include container-extra-small;
    order: 2;
  }
  &__title {
    @include subheader-text;
    margin-bottom: .5rem;
  }
  &__description {
    @include body-text;  
  }
  &__introduction-media {
    @include flex-center;
    padding-bottom: ($padding-large-size);
    order: 1;
  }
  &__media-element {
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.05);
    margin-bottom: $padding-medium-size;
    &:before {
      background: $white;
      border-bottom: 1px solid rgba(0,0,0,0.05);
      border-top-left-radius: .25em;
      border-top-right-radius: .25em;
      color: $gray;
      content: "\2022\2022\2022";
      display: block;
      letter-spacing: .2em;
      padding-left: .625rem;
      font-size: 1rem;
      line-height: 1.5rem;
      
    }
    img {
      vertical-align: bottom;
    }
  }
  &__media-element--wrap {
    width: calc(50% - 1rem);
  }
  &__content {
    @include layout-vertical-padding($padding-large-size);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}