/* MOCKUP */
/*
- MOCKUP
*/


// MOCKUP

.mockup {
  background-color: #48c4b7;
  overflow: hidden;
  width: 100%;
  &__title {
    @include subheader-text(capitalize); 
    margin-bottom: .5rem;
  }
  &__description {
    @include body-text;  
  }
  &__button-container {
  }
  &__button {
  }
  &__close-button {
    display: none;
    @include breakpoint($desktop) {
      display: block;
      position: absolute;
      top: 40px;
      right: 0;
      height: 40px;
      width: 40px;
      opacity: 0;
      visibility: hidden;
    }
    &:after, &:before {
      @include breakpoint($desktop) {
        content: '';
        height: 40px;
        width: 2px;
        position: absolute;
        left: 50%;
        top: 50%;
        background-color: $white;
      }
    }
    &:after{
      @include breakpoint($desktop) {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
      }
    }
    &:before {
      @include breakpoint($desktop) {
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      }
    }
    &.is-visible {
      visibility: visible;
      opacity: 1;
    }
  }
  &__hide-text {
    /* replace text with background images */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }
  &__container {
    position: relative;
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    @include breakpoint($desktop) {
      padding-top: 100px;
      height: 100vh;
    }
    &.mockup__container--open{
      @include breakpoint($desktop) {
        height: auto;
        padding-bottom: 100px;
      }
    }
  }
  &__intro {
    padding: 50px 0;
    text-align: center;
    @include breakpoint($desktop) {
      transform: translateZ(0);
      backface-visibility: hidden;
      position: absolute;
      top: 200px;
      left: 0;
      width: 50%;
      padding: 0;
      text-align: left;
      transition: transform 0.6s, opacity 0.6s;
    }
    &:before {
      display: none;
    }
  }
  &__container--open .mockup__intro {
    @include breakpoint($desktop) {
      opacity: 0;
      transform: translateX(-50%);
    }
  }
  &__image {
    width: 90%;
    max-width: 450px;
    margin: 0 auto 50px;
    position: relative;
    @include breakpoint($desktop) {
      margin-bottom: 0;
      transform: translateZ(0);
      backface-visibility: hidden;
      transform-style: preserve-3d;
      transform-origin: center top;
      transform: rotateX(-60deg) rotateZ(-40deg) translateX(50px) translateY(300px);
      transition: transform 0.6s;
    }
    &:before {
      @include breakpoint($desktop) {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        /* play with these values to create a realistic shadow */
        height: 45%;
        box-shadow: 0px 0px 30px 225px rgba(0, 0, 0, 0.1);
        transform: translateZ(-100px) translateY(480px);
        transition: transform 0.6s;
      }
    }
    img {
      display: block;
      position: relative;
      outline: 1px solid transparent;
    }
  }
  &__container--open .mockup__image {
    @include breakpoint($desktop) {
      transform: translateX(0);
    }
    &:before {
      @include breakpoint($desktop) {
        transform: translateZ(-100px) translateX(226px) translateY(216px);
      }
    }
  }
  &__image-right, .mockup__image-left{
    display: none;
    @include breakpoint($desktop) {
      display: block;
      position: absolute;
      left: 0;
      background-image: url(/assets/images/cd-app-image.png);
      outline: 1px solid transparent;
    }
    &:after {
      @include breakpoint($desktop) {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
  &__image-right {
    @include breakpoint($desktop) {
      top: -1px;
      width: 10px;
      height: 100%;
      background-size: auto 100%;
      transform-origin: left center;
      transform: translateZ(-1px) translateY(1px) rotateY(-90deg);
    }
  }
  &__image-left {
    @include breakpoint($desktop) {
      bottom: 0;
      width: 100%;
      height: 10px;
      background-position: bottom center;
      background-size: 100% auto;
      transform-origin: center bottom;
      transform: translateZ(-1px) rotateX(-90deg);
    }
    &:after {
      @include breakpoint($desktop) {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
}
