/* OTHER PROJECTS */
/*
- OTHER PROJECTS
*/


.other-projects {
  @include container-extra-small();
  margin-bottom: 6rem;
  @include breakpoint($tablet) {
    margin-bottom: 10rem;
  }
  &__title {
    @include small-text(uppercase);
    letter-spacing: $letter-space-extra-large;
    margin-bottom: 1.625rem;
    text-align: center;
  }
  &__divider {
    margin: 0 auto 6rem auto;
    width: $divider-width;
  }
  &__list {
    @include list-inline(.5rem);
    text-align: center;
    
  }
  &__list-item {
    @include body-text-large;
    line-height: 2em;
    white-space: nowrap;
  }
}