/* PROJECT */
/*
- PROJECT
*/


// PROJECT

.project {
  &__section {
    display: flex;
    justify-content: center;
    padding-bottom: $padding-large-size;
  }
  &__banner {
    img {
      object-fit: contain;
      max-height: 50rem;
      max-width: 100%;
      min-width:$container-wide;
    }
  }
}