/* PROJECTS */
/*
- PROJECTS
- PROJECT TEASER
*/


// PROJECTS

.projects {
  &__container {
    //padding-bottom: 4rem;
    @include breakpoint($tablet) {
      @include container-normal;
    }
  }
}


// PROJECT 

.project-teaser {
  @include layout-vertical-padding($vertical-padding-large);
  color: $type-dark;
  position: relative;
  &__container {
    
  }
  &__content {
    @include link-dark(none);
    @include container-normal;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: $z-project-title;
  }
  &__title {
    @include project-large-text;
    max-width: 100%;
    @include breakpoint($tablet) {
      max-width: 80%;
    }
  }
  &__subtitle {
    @include project-small-text;
    max-width: 100%;
    @include breakpoint($tablet) {
      max-width: 60%;
    }
  }
  &__white-background {
    background-color: $white;
    display: inline;
    box-shadow: 1em 0 0 $white,-1em 0 0 $white;
  }
  &__media {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    .project-teaser:hover & {
      visibility: visible;
    }
  }
}
