/* TEXT */
/*
- TEXT
*/


// TEXT BLOCK

.text-block {
  @include container-extra-small;
  @include body-text;
  &__main {
    > p {
        &:first-child:first-letter {
        @include dropcap-text;
        float: left;
        padding-top: .25rem;
        padding-right: .5rem;
      }
    }
  }
}

// TEXT BLOCK & SIDEBAR

.text-block--sidebar {
  @include layout-container(); 
  display: flex;
  width: $container-normal;
  .text-block {
    &__main {
      width: calc(75% - 4rem);
      margin-right: 4rem;
      > p {
        &:first-child:first-letter {
          @include body-text;
          float: none;
          font-weight: $font-weight-regular;
          letter-spacing: inherit;
          line-height: inherit;
          padding: 0;
        }
      }
    }
    &__sidebar {
      width: calc(25%);
      a {
        @include link-dark;
      }
    }
    &__divider {
      align-self: flex-start;
      margin-bottom: 2rem;
      opacity: .25;
      width: $divider-width;
    }
    &__section {
      margin-bottom: 2rem;
    }
    &__section-title {
      @include project-aside-title-text; 
      margin-bottom: .75rem;
    }
    &__section-list {
      @include list-vertical(.25rem);
      @include project-aside-text;
    }
  } 
}