/* TEXT */
/*
- TEXT BLOCK
- TEXT BLOCK STATES
*/

.text-block-wrapper {
  width: 100%;
}

.text-block-wrapper--sidebar {
  @include breakpoint($tablet-large) {
    width: calc(75% - 4rem);
    margin-right: 4rem;
  }
}

.text-sidebar {
  @include container-extra-small; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //justify-content: space-between; 
  padding: 0 2rem;
  width: 100%;
  @include breakpoint($tablet) {
    width: 100%;
  }
  @include breakpoint($tablet-large) {
    flex-direction: column;
    padding: 0;
    width: 25%;
  }
  a {
    @include link-dark;
  }
  &__divider {
    margin-bottom: 2rem;
    margin-top: 3rem;
    width: 100%;
    @include breakpoint($tablet-large) {
      align-self: flex-start;
      margin-bottom: 2rem;
      margin-top: 0;
      opacity: .25;
      width: $divider-width;
    }
    img {
      width: $divider-width;
      min-width: auto;
    }
  }
  &__section {
    margin-bottom: 2rem;
    width: 100%;
    @include breakpoint($tablet) {
      margin-right: 2rem;
      width: calc(33% - 2rem);
    }
    @include breakpoint($tablet-large) {
      width: 100%;
    }
  }
  &__section-title {
    @include project-aside-title-text; 
    margin-bottom: .75rem;
  }
  &__section-list {
    @include list-vertical(.25rem);
    @include project-aside-text;
  }
}
// TEXT BLOCK

.text-block {
  //@include container-extra-small;
  @include body-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include breakpoint($tablet-large) {
    //flex-direction: row;
  }
  &:nth-of-type(2){
    margin-top: 2.5rem;
  }
  &__circle {
    height: 18.75rem;
    shape-outside: ellipse(4.6875rem 9.375rem at 50% 50%);
    width: 9.375rem;
    @include breakpoint($tablet) { 
      display: none;
    } 
  }
  &__circle--left {
    float: left;
    margin: 3.125rem 0 .25rem 2rem;
  }
  &__circle--right {
    float: right;
    margin: 3.125rem 2rem .25rem 0;
  }
  &__verticle-title {
    display: flex;
    font-size: 1.2rem;
    font-weight: $font-weight-bold;
    letter-spacing: .15rem;
    text-transform: uppercase;
    @include breakpoint($tablet-large) {
      align-items: center;
      font-size: .75rem;
      justify-content: center;
      left: 0;
      padding: 0;
      position: absolute;
      top: 1.6rem;
      transform: rotate(180deg);
      text-align:right;
      text-orientation: sideways;
      white-space: nowrap;
      writing-mode: vertical-lr; 
    }
    &:after {
      @include breakpoint($tablet-large) {
        content: url(/assets/images/title-dash.svg);
        margin-top: 2rem;
        padding-left: .4rem;
      }
    }
  }
  &__side {
    @include container-extra-small;
    position: relative;
    @include breakpoint($tablet-large) {
      align-self: flex-start;
      width: auto;
    }
  }
  &__main {
    @include container-extra-small;
    align-self: center;
    //background: orange;
    position: relative;
  }

}

.text-block--title {
  align-items: center;
  padding: 0;
  width: 100%;
  @include breakpoint($tablet-large) {
    justify-content: space-between;
    &:after {
      content: '';
    }
  }
}

// TEXT BLOCK STATES

.text-block--intro {
  .text-block {
    &__main {
      p:first-of-type {
        &:first-letter {
          @include dropcap-text;
          float: left;
          padding-top: .25rem;
          padding-right: .5rem;
        }
      }
    }
  }
}

.text-block--contact {
  .text-block {
    &__main {
      font-style: italic;
    }
  }
}

// TEXT BLOCK & SIDEBAR

.text-block--sidebar {
  @include layout-container(); 
  display: flex;
  flex-direction: column;
  width: $container-normal;
  @include breakpoint($tablet-large) {
    flex-direction: row;
  }
  .text-block {
    &__main {
      width: 100%;
      @include breakpoint($tablet-large) {
        width: calc(75% - 4rem);
        margin-right: 4rem;
      }
    }
    &__sidebar {
      display: flex;
      flex-wrap: wrap;
      //justify-content: space-between; 
      width: 100%;
      @include breakpoint($tablet-large) {
        flex-direction: column;
        width: 25%;
      }
      a {
        @include link-dark;
      }
    }
    &__divider {
      margin-bottom: 2rem;
      margin-top: 3rem;
      width: 100%;
      @include breakpoint($tablet-large) {
        align-self: flex-start;
        margin-bottom: 2rem;
        margin-top: 0;
        opacity: .25;
        width: $divider-width;
      }
      img {
        width: $divider-width;
        min-width: auto;
      }
    }
    &__section {
      margin-bottom: 2rem;
      width: 100%;
      @include breakpoint($tablet) {
        width: calc(33% - 2rem);
      }
      @include breakpoint($tablet-large) {
        width: 100%;
      }
    }
    &__section-title {
      @include project-aside-title-text; 
      margin-bottom: .75rem;
    }
    &__section-list {
      @include list-vertical(.25rem);
      @include project-aside-text;
    }
  } 
}