/* TEXT */
/*
- TEXT BLOCK
- TEXT BLOCK STATES
*/


// TEXT BLOCK

.text-block {
  @include container-extra-small;
  @include body-text;
  &__circle {
    height: 18.75rem;
    shape-outside: ellipse(4.6875rem 9.375rem at 50% 50%);
    width: 9.375rem;
    @include breakpoint($tablet) { 
      display: none;
    } 
  }
  &__circle--left {
    float: left;
    margin: 3.125rem 0 .25rem 2rem;
  }
  &__circle--right {
    float: right;
    margin: 3.125rem 2rem .25rem 0;
  }
}

// TEXT BLOCK STATES

.text-block--intro {
  .text-block {
    &__main {
      > p {
          &:first-child:first-letter {
          @include dropcap-text;
          float: left;
          padding-top: .25rem;
          padding-right: .5rem;
        }
      }
    }
  }
}

.text-block--contact {
  .text-block {
    &__main {
      font-style: italic;
    }
  }
}

// TEXT BLOCK & SIDEBAR

.text-block--sidebar {
  @include layout-container(); 
  display: flex;
  flex-direction: column;
  width: $container-normal;
  @include breakpoint($tablet-large) {
    flex-direction: row;
  }
  .text-block {
    &__main {
      width: 100%;
      @include breakpoint($tablet-large) {
        width: calc(75% - 4rem);
        margin-right: 4rem;
      }
    }
    &__sidebar {
      display: flex;
      flex-wrap: wrap;
      //justify-content: space-between; 
      width: 100%;
      @include breakpoint($tablet-large) {
        flex-direction: column;
        width: 25%;
      }
      a {
        @include link-dark;
      }
    }
    &__divider {
      margin-bottom: 2rem;
      margin-top: 3rem;
      width: 100%;
      @include breakpoint($tablet-large) {
        align-self: flex-start;
        margin-bottom: 2rem;
        margin-top: 0;
        opacity: .25;
        width: $divider-width;
      }
      img {
        width: $divider-width;
        min-width: auto;
      }
    }
    &__section {
      margin-bottom: 2rem;
      width: 100%;
      @include breakpoint($tablet) {
        width: calc(33% - 2rem);
      }
      @include breakpoint($tablet-large) {
        width: 100%;
      }
    }
    &__section-title {
      @include project-aside-title-text; 
      margin-bottom: .75rem;
    }
    &__section-list {
      @include list-vertical(.25rem);
      @include project-aside-text;
    }
  } 
}