/* BREAKPOINTS */


// BREAKPOINTS

$mobile-small: 400px;
$mobile: 420px;
$tablet: 768px;
$tablet-large: 960px;
$desktop-small: 1024px;
$desktop: 1200px;
$desktop-max: 1600px;


$mobile-large: min-height 920px;