/* COLORS */
/*
- BASIC COLORS
- THEME COLORS
*/


// BASIC COLORS

$black: #000;
$white: #FFF;
$gray: #D9D9D9;


// THEME COLORS

$theme-green: #B0D5C0;
$theme-light-green: #C2D9C4;
$theme-light-blue: #E5EFF4;
$theme-blue: #94B4B4;
$theme-dark: #1D1D1D;
$theme-offwhite: #FAFAF8;


// TYPOGRAPHY COLORS

$type-dark: #1D1F24; 
$type-light: #FFF; 