/* MIXINS */
/*
- CLEAR
- LAYOUT
- SECTIONS
- CONTAINERS
- TYPOGRAPHY
- LISTS
- LINKS
- ACCESSIBILITY
- FORMS
- BUTTONS
- ANIMATION
*/

// CLEAR
@mixin clearFix(){
  &:before,
  &:after{
    content: " "; 
    display: table; 
  }

  &:after{
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }
  &{
    *zoom: 1;
  }
}


// LAYOUT

// LAYOUT -- FULLSCREEN

@mixin layout-fullscreen(){
  min-height: 100vh;
  width: 100vw;
}

// LAYOUT -- PARTIALSCREEN

@mixin layout-partialscreen(){
  min-height: 80vh;
  width: 100vw;
}

// LAYOUT -- WIDTH

@mixin layout-width($width){
  max-width: $width;
  min-width: $width;
  width: $width;
}

// LAYOUT -- CONTAINER

@mixin layout-container(){
  padding-left: $padding-standard-size;
  padding-right: $padding-standard-size;
}

// LAYOUT -- VERTICAL PADDING

@mixin layout-vertical-padding($padding-size){
  padding-top: $padding-size;
  padding-bottom: $padding-size;
}


// SECTIONS

@mixin section(){
}


// CONTAINERS

// CONTAINER EXTRA SMALL

@mixin container-extra-small(){
  @include layout-container();
  width: $container-extra-small;
}

// CONTAINER SMALL

@mixin container-small(){
  @include layout-container();
  width: $container-small;
}

// CONTAINER NORMAL

@mixin container-normal(){
  @include layout-container();
  width: $container-normal;
}

// CONTAINER WIDE
@mixin container-wide(){
  @include layout-container();
  width: $container-wide;
  
}


// TYPOGRAPHY 

// TYPOGRAPHY -- TITLE

@mixin header-title ($text-transform:"inherit"){
  font-family: $oswald;
  font-size: $title-large;
  font-weight: $font-weight-medium;
  line-height: $line-height-standard;
  text-transform: $text-transform;
}

// TYPOGRAPHY -- TITLE SMALL

@mixin header-title-small ($text-transform:"inherit"){
  font-family: $lato;
  font-size: $title-small;
  font-weight: $font-weight-semi-bold;
  line-height: $line-height-standard;
  text-transform: $text-transform;
}

// TYPOGRAPHY -- SUBTITLE

@mixin header-subtitle ($text-transform:inherit){
  font-family: $oswald;
  font-size: $subtitle-large;
  font-weight: $font-weight-light;
  line-height: $line-height-standard;
  text-transform: $text-transform;
}

// TYPOGRAPHY -- STANDALONE LINK

@mixin standalone-link ($text-transform:uppercase){
  font-family: $lato;
  font-size: $text-large;
  font-weight: $font-weight-bold;
  line-height: $line-height-standard;
  text-transform: $text-transform;
}

// TYPOGRAPHY -- SMALL TEXT

@mixin small-text ($text-transform:inherit){
  font-family: $oswald;
  font-size: $text-small;
  font-weight: $font-weight-medium;
  line-height: $line-height-standard;
  text-transform: $text-transform;
}


// TYPOGRAPHY -- SUBHEADER TEXT

@mixin subheader-text ($text-transform:uppercase){
  font-family: $oswald;
  font-size: $text-subheader;
  font-weight: $font-weight-regular;
  line-height: $line-height-standard;
  text-transform: $text-transform;
}


// TYPOGRAPHY -- INTRODUCTION TEXT

@mixin introduction-text ($text-transform:inherit){
  font-family: $lato;
  font-size: $text-extra-large;
  font-weight: $font-weight-regular;
  line-height: $line-height-extra-large;
  text-transform: $text-transform;
} 

// TYPOGRAPHY -- CONTACT LARGE TEXT

@mixin contact-large-text ($text-transform:uppercase){
  font-family: $oswald;
  font-size: $title-large;
  font-weight: $font-weight-medium;
  line-height: $line-height-large;
  text-transform: $text-transform;
}

// TYPOGRAPHY -- CONTACT SMALL TEXT

@mixin contact-small-text ($text-transform:inherit){
  font-family: $oswald;
  font-size: $title-medium;
  font-weight: $font-weight-medium;
  line-height: $line-height-none;
  text-transform: $text-transform;
}

// TYPOGRAPHY -- PROJECT LARGE TEXT

@mixin project-large-text ($text-transform:inherit){
  font-family: $oswald;
  font-size: $title-large;
  font-weight: $font-weight-bold;
  line-height: $line-height-large;
  text-transform: $text-transform;
}

// TYPOGRAPHY -- PROJECT SMALL TEXT

@mixin project-small-text ($text-transform:inherit){
  font-family: $oswald;
  font-size: $title-medium;
  font-weight: $font-weight-light;
  line-height: $line-height-large;
  text-transform: $text-transform;
}

// TYPOGRAPHY -- MAIN MENU

@mixin main-menu-text ($text-transform:uppercase){
  font-family: $oswald;
  font-size: $title-large;
  font-weight: $font-weight-light;
  line-height: $line-height-large;
  text-transform: $text-transform;
}

// TYPOGRAPHY -- INPUT

@mixin input-text ($text-transform:uppercase){
  font-family: $oswald;
  font-size: $text-medium;
  font-weight: $font-weight-regular;
  letter-spacing: $letter-space-large;
  line-height: $line-height-large;
  text-transform: $text-transform;
}

// TYPOGRAPHY -- BODY

@mixin body-text ($text-transform:inherit){
  font-family: $lato;
  font-size: $text-body;
  font-weight: $font-weight-regular;
  letter-spacing: $letter-space-none;
  line-height: $line-height-extra-large;
  text-transform: $text-transform;
}

// TYPOGRAPHY -- BODY LARGE

@mixin body-text-large ($text-transform:inherit){
  font-family: $lato;
  font-size: $text-extra-large;
  font-weight: $font-weight-regular;
  letter-spacing: $letter-space-none;
  line-height: $line-height-large;
  text-transform: $text-transform;
}

// TYPOGRAPHY -- PROJECT TITLE

@mixin project-title-text ($text-transform:inherit){
  font-family: $lato;
  font-size: $text-project-title;
  font-weight: $font-weight-medium;
  letter-spacing: $letter-space-none;
  line-height: $line-height-large;
  text-transform: $text-transform;
}

// TYPOGRAPHY -- PROJECT INTRODUCTION

@mixin project-introduction-text ($text-transform:inherit){
  font-family: $lato;
  font-size: $text-large;
  font-weight: $font-weight-light;
  letter-spacing: $letter-space-none;
  line-height: $line-height-extra-large;
  text-transform: $text-transform;
}

// TYPOGRAPHY -- PROJECT ASIDE TITLE

@mixin project-aside-title-text ($text-transform:uppercase){
  font-family: $lato;
  font-size: $text-small;
  font-weight: $font-weight-regular;
  letter-spacing: $letter-space-none;
  line-height: $line-height-standard;
  text-transform: $text-transform;
}

// TYPOGRAPHY -- PROJECT ASIDE TEXT

@mixin project-aside-text ($text-transform:inherit){
  font-family: $lato;
  font-size: $text-large;
  font-weight: $font-weight-regular;
  letter-spacing: $letter-space-none;
  line-height: $line-height-standard;
  text-transform: $text-transform;
}


// TYPOGRAPHY -- DROP CAP

@mixin dropcap-text ($text-transform:uppercase){
  font-family: $lato;
  font-size: $text-dropcap;
  font-weight: $font-weight-regular;
  letter-spacing: $letter-space-none;
  line-height: .9em;
  text-transform: $text-transform;
}

// TYPOGRAPHY -- MEDIA OVERLAY TEXT

@mixin media-overlay-text ($text-transform:inherit){
  font-family: $lato;
  font-size: $title-medium;
  font-weight: $font-weight-regular;
  letter-spacing: $letter-space-none;
  text-transform: $text-transform;
}


// LISTS 

// HORIZONTAL LIST

@mixin list-horizontal($horizontal-padding) {
  padding: 0;
  text-align: center;
  word-spacing: -1em;
  display: table;
  width: 100%;
  li {
    display: inline-block;
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
    word-spacing: 0;
  }
}

// VERTICAL LIST

@mixin list-vertical($vertical-padding) {
  list-style: none;
  padding-left: 0;
  li {
    padding-bottom: $vertical-padding;
    padding-top: $vertical-padding;
  }
}


// LINKS

// LINK - LIGHT
@mixin link-light {
  color: $white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    text-decoration: underline;
  }
}

// LINK - DARK

@mixin link-dark($text-decoration:underline) {
  color: $type-dark;
  text-decoration: none;
  &:hover {
    text-decoration: $text-decoration;
  }
  &:active {
    text-decoration: $text-decoration;
  }
}

// LINK - WITH UNDERLINE DARK

@mixin link-dark-underline() {
  background:
     linear-gradient(
       to bottom, $theme-blue 0%,
       $theme-blue 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
  color: $type-dark;
  text-decoration: none;
  transition: background-size .2s;
  &:hover {
    background-size: 4px 50px;
  }
  &:active {
    background-size: 4px 50px;
  }
}

// ACCESSIBILITY

// Accessible hiding
@mixin screen-reader-text() {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

// FORMS

@mixin form-input() {
  @include layout-width(100%);
  @include input-text;
  display: flex;
  height: 5rem;
  margin-bottom: 1.25rem;
  padding-left: $padding-small-size;
  padding-right: $padding-small-size;
}

@mixin placeholder ($color) {
  &::-webkit-input-placeholder {
    color: $color;
    opacity: 1;
  }
  &:-moz-placeholder           {
    color: $color;
    opacity: 1;
  }
  &::-moz-placeholder          {
    color: $color;
    opacity: 1;
  }
  &:-ms-input-placeholder      {
    color: $color;
    opacity: 1;
  } 
  &:placeholder {
    color: $color;
    opacity: 1;
  }
}

// BUTTONS

@mixin button() {
  display: flex;
  justify-content: center;
}

// ANIMATION

// ANIMATE OPACITY

@mixin animate-opacity($duration: .3s){
  transition: opacity $duration;
}
