/* MIXINS */
/*
- CLEAR
- LAYOUT
- LAYOUT -- FULLSCREEN
- LAYOUT -- WIDTH
- TYPOGRAPHY
- TYPOGRAPHY -- TITLE
*/

// CLEAR
@mixin clearFix(){
  &:before,
  &:after{
    content: " "; 
    display: table; 
  }

  &:after{
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }
  &{
    *zoom: 1;
  }
}


// LAYOUT

// LAYOUT--FULLSCREEN
@mixin layout-fullscreen(){
  height: 100vh;
  width: 100vw;
}

// LAYOUT--WIDTH
@mixin layout-width($width){
  max-width: $width;
  min-width: $width;
  width: $width;
}


// TYPOGRAPHY 

// TYPOGRAPHY -- TITLE

@mixin header-title ($text-transform){
  font-family: $oswald;
  font-size: $title-large;
  font-weight: $font-weight-medium;
  line-height: $line-height-standard;
  text-transform: $text-transform;
}

// TYPOGRAPHY -- TITLE SMALL

@mixin header-title-small ($text-transform){
  font-family: $lato;
  font-size: $title-small;
  font-weight: $font-weight-semi-bold;
  line-height: $line-height-standard;
  text-transform: $text-transform;
}

// TYPOGRAPHY -- SUBTITLE

@mixin header-subtitle ($text-transform){
  font-family: $oswald;
}

