/* PADDING */
/*
- PADDING PERCENTAGES
- PADDING SIZES
- VERTICAL PADDING
*/


// PADDING PERCENTAGES

$padding-standard-percentage: 10%;


// PADDING SIZES

$padding-small-size: 1rem; // 16px
$padding-standard-size: 2rem; // 32px
$padding-medium-size: 2.5rem; // 40px
$padding-large-size: 4rem; // 64px
$padding-extra-large-size: 5rem; // 80px
$padding-navigation-desktop: 5.625rem; // 90px
$padding-project-bottom: 6rem; // 96px
$padding-project-top: 13.75rem; // 220px


// VERTICAL PADDING

$vertical-padding-none: 0;
$vertical-padding-standard: $padding-standard-size;
$vertical-padding-large: $padding-large-size;
$vertical-padding-extra-large: $padding-extra-large-size;


// LINK PADDING 
$link-padding: .5rem;