/* PADDING */
/*
- PADDING PERCENTAGES
- PADDING SIZES
*/


// PADDING PERCENTAGES

$padding-standard-percentage: 10%;


// PADDING SIZES

$padding-small-size: 1rem;
$padding-standard-size: 2rem;
$padding-medium-size: 2rem;
$padding-large-size: 4rem; 


// VERTICAL PADDING

$vertical-padding-standard: $padding-medium-size;