/* PADDING */
/*
- PADDING PERCENTAGES
- PADDING SIZES
- VERTICAL PADDING
*/


// PADDING PERCENTAGES

$padding-standard-percentage: 10%;


// PADDING SIZES

$padding-small-size: 1rem;
$padding-standard-size: 2rem;
$padding-medium-size: 2.5rem;
$padding-large-size: 4rem; 
$padding-extra-large-size: 5rem; 


// VERTICAL PADDING

$vertical-padding-standard: $padding-standard-size;
$vertical-padding-large: $padding-large-size;
$vertical-padding-extra-large: $padding-extra-large-size;