/* MIXINS */
/*
- FONTS
*/


// FONTS

$lato: 'Lato', sans-serif;
$oswald: 'Oswald', sans-serif;


// LETTER SPACING

$letter-space-large: .04em;
$letter-space-small: .03em;


// LINE HEIGHT

$line-height: 1.6rem;