
/* GLOBAL */

img {
  max-width: 100%;
  width: 100%; 
}

::selection {
  background: $menu-background; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $menu-background; /* Gecko Browsers */
}



