
/* HELPER */

.bg-black{
	background: #000;
	color: #fff;
}

.clear {
  clear: both;
}

.max-height {
  height: 100vh;
}

.no-margin {
	margin: 0;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.no-margin-top {
	margin-bottom: 0;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.hide {
    display: none;
}

.accessible-text {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}