/* BASE */
/*
- BASE
- BOX SIZING
- HIDE & SHOW

*/

// BASE

html, 
body {
    //height: 100%;
}

body {
  font-size: 16px;
  margin: 0;
}


// BOX SIZING

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


// HIDE & SHOW

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}



