/* FOOTER */
/*
- FOOTER
*/


.footer {
  background-color: $theme-dark;
  color: $white;
  &__container {
    @include layout-container();
    @include layout-vertical-padding($vertical-padding-large);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__brand {
  }
  &__logo {
    display: flex;
    height: 2.25rem;
    width: 5.125rem;
    svg {
      fill: white;
    }
  }
  &__actions {
    margin-top: 1rem;
  }
  &__links {
    @include list-horizontal(1rem);
  }
  &__link {
  }
  a {
    @include link-light;
    @include small-text(uppercase);
    letter-spacing: $letter-space-extra-large;
  }
}