/* BANNER REGION */
/*
- BANNER
- BANNER SPLIT
- BANNER STATES
- BANNER CONTACT

*/

// BANNER

.banner { 
  color: $type-dark;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

// BANNER SPLIT

.banner--split {
  @include layout-fullscreen;
  .banner {
    &__introduction {
        @include layout-width(50%);
        @include layout-container();
        align-items: center;
        background: $theme-offwhite;
        display: flex;

        order: 1;
      }
      &__content {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;

      }
      &__header {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        margin-top: 5.625rem;
        max-width: 80%;
      }
      &__title {

      }
      &__title-small {
        @include header-title-small;
      }
      &__title-large {
        @include header-title;
        display: block;
        button {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &__subtitle {
        @include header-subtitle;
        display: block;
        &--hidden {
          visibility: hidden;
        }
        a {
          @include link-dark-underline;
        }
      }
      &__link {
        @include standalone-link(uppercase);
        @include layout-vertical-padding($vertical-padding-large);
        width: 80%;
        a {
          @include link-dark-underline;
          padding-bottom: $link-padding;
        }
      }
      &__portrait {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        height: 100vh;
        width:50vw;
        img {
          object-fit: contain; 
        }
      }
      &__media {
        @include layout-width(50%);
        background-image: url(/assets/images/banner-background.jpg);
        background-size: cover;
        background-position: center center;
        box-shadow: inset 8px 0 20px -8px rgba(68, 68, 68, 0.6);
        display: flex;
        order:2;
      }
  
  }
}


// BANNER STATES

.banner--designer {
  .banner__introduction {
    background-color: $theme-green;
    color: $white;
  }
}

.banner--developer {
  .banner__introduction {
    background-color: $theme-light-blue;
    color: $type-dark;
  }
}

.banner--strategist {
  .banner__introduction {
    background-color: $theme-blue;
    color: $white;
  }
}

// BANNER CONTACT 

.banner--contact {
  @include layout-partialscreen;
  align-items: center;
  background: $theme-light-green;
  background-image: url(/assets/images/wave-group-angled.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  .banner {
    &__container {
      @include container-wide;
      align-items: center;
      display: flex;
      flex-direction: row;
      padding-bottom: $padding-navigation-desktop;
      padding-top: $padding-navigation-desktop;
    }
    &__content {
      @include layout-width(50%);
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__content-container {
      @include layout-width(26.25rem);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__form {
      display: flex;
      justify-content: center;
    }
    &__divider {
      align-self: flex-start;
      margin-bottom: .5rem;
      width: $divider-width;
    }
    &__title {
      @include contact-large-text(uppercase);
      margin-bottom: 2rem;
    }
    &__subtitle {
      @include body-text;
      margin-bottom: 2rem;
    }
    &__media {
      @include layout-width(50%);
      display: flex;
      img {
        object-fit: none;
        object-position: 0 150%;
      }
    }
  }
}
