/* BANNER REGION */
/*
- BANNER
- BANNER SPLIT
- BANNER STATES
- BANNER CONTACT

*/

// BANNER

.banner { 
  color: $type-dark;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

// BANNER SPLIT

.banner--split {
  @include layout-fullscreen;
  .banner {
    &__introduction {
        @include layout-width(50%);
        @include layout-container();
        align-items: center;
        background: $theme-offwhite;
        display: flex;
        order: 1;
        transition: background-color .5s ease, max-width 0.75s ease, width 0.75s ease, min-width 0.75s ease;
      }
      &__content {
        align-items: center;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: center;
        padding-bottom: $padding-navigation-desktop;
        padding-top: $padding-navigation-desktop; 
        width: calc(50vw - 4rem);
      }
      &__header {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        //justify-content: center;
        //margin-top: 5.625rem;
        margin-top: 25vh;
        max-width: 40vw;
      }
      &__title {

      }
      &__title-small {
        @include header-title-small;
      }
      &__title-large {
        @include header-title;
        display: block;
        button {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
          &.button--active {
            text-decoration: underline;
          }
        }
      }
      &__subtitle {
        @include header-subtitle;
        display: none;
        &--active {
          display: block;
        }
        a {
          @include link-dark-underline;
        }
      }
      &__link {
        @include standalone-link(uppercase);
        //@include layout-vertical-padding($vertical-padding-large);
        width: 40vw;
        a {
          @include link-dark-underline;
          padding-bottom: $link-padding;
        }
      }
      &__portrait {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        height: 100vh;
        width:50vw;
        img {
          object-fit: contain; 
        }
      }
      &__media {
        @include layout-width(50%);
        background-image: url(/assets/images/banner-background.jpg);
        background-size: cover;
        background-position: center center;
        box-shadow: inset 8px 0 20px -8px rgba(68, 68, 68, 0.6);
        display: flex;
        order:2;
        transition: max-width 0.75s ease, width 0.75s ease, min-width 0.75s ease;
      }
  
  }
}


// BANNER STATES

.banner--designer {
  .banner {
    &__introduction {
      @include layout-width(100%);
      background-color: $theme-green;
      color: $white;
    }
    &__subtitle {
      a {
        @include link-light-underline;
      }
    }
    &__link {
      a {
        @include link-light-underline;
      }
    }
    &__media {
      @include layout-width(100%);
    }
  }
}

.banner--developer {
  .banner {
    &__introduction {
      @include layout-width(100%);
      background-color: $theme-light-blue;
      color: $type-dark;
    }
    &__subtitle {
      a {
        @include link-dark-underline;
      }
    }
    &__link {
      a {
        @include link-dark-underline;
      }
    }
    &__media {
      @include layout-width(100%);
    }
  }
}

.banner--strategist {
  .banner {
    &__introduction {
      @include layout-width(100%);
      background-color: $theme-blue;
      color: $white;
    }
    &__subtitle {
      a {
        @include link-light-underline;
      }
    }
    &__link {
      a {
        @include link-light-underline;
      }
    }
    &__media {
      @include layout-width(100%);
    }
  }
}

// BANNER CONTACT 

.banner--contact {
  @include layout-partialscreen;
  align-items: center;
  background: $theme-light-green;
  background-image: url(/assets/images/wave-group-angled.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  .banner {
    &__container {
      @include container-wide;
      align-items: center;
      display: flex;
      flex-direction: row;
      padding-bottom: $padding-navigation-desktop;
      padding-top: $padding-navigation-desktop;
    }
    &__content {
      @include layout-width(50%);
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__content-container {
      @include layout-width(26.25rem);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__form {
      display: flex;
      justify-content: center;
    }
    &__divider {
      align-self: flex-start;
      margin-bottom: .5rem;
      width: $divider-width;
    }
    &__title {
      @include contact-large-text(uppercase);
      margin-bottom: 2rem;
    }
    &__subtitle {
      @include body-text;
      margin-bottom: 2rem;
    }
    &__media {
      @include layout-width(50%);
      display: flex;
      img {
        object-fit: none;
        object-position: 0 150%;
      }
    }
  }
}

// BANNER PROJECT

.banner--project {
  display: flex;
  justify-content: center;
  .banner {
    &__container {
      @include container-normal;
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-bottom: $padding-project-bottom;
      padding-top: $padding-project-top;
      @include breakpoint($desktop) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    &__introduction {
      display: flex;
      flex-direction: column;
      margin-right: 3rem;
      width: calc(75% - 3rem);
    }
    &__title {
      @include project-title-text;
      margin-bottom: 2rem;
    }
    &__description {
      @include project-introduction-text;
    }
    &__sidebar {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      width: calc(25%);
    }
    &__divider {
      align-self: flex-start;
      margin-bottom: 5rem;
      opacity: .25;
      width: $divider-width;
    }
    &__role {
      margin-bottom: 2rem;
    }
    &__role-title {
      @include project-aside-title-text; 
      margin-bottom: .75rem;
    }
    &__role-position {
      @include list-vertical(.25rem);
      @include project-aside-text;
    }
  }
}
