/* HEADER REGION */
/*
- HEADER
- HEADER STATES
*/


// HEADER

.header { 
  position: absolute;
  z-index: $z-index-header;
  &__container {
    @include layout-container();
    @include layout-vertical-padding($vertical-padding-standard);
    display: flex;
    flex-direction: row;
    height: 5.625rem;
    width: 100vw;
  }
  &__brand {
    @include layout-width(50%); 
    align-items: center;
    display: flex;
    height: 1.625rem;
    justify-content: flex-start;
  }
  &__logo {
    height: 100%;
    img {
      height: 100%;
    }
  }
  &__actions {
    @include layout-width(50%); 
    align-items: center;
    display: flex;
    height: 1.625rem;
    justify-content: flex-end;
  }
  &__menu {
    height: 100%;
  }
}


// HEADER STATES

.header--light {
}

.header--dark {
}