/* MENU */
/*
- MAIN MENU
- MAIN MENU STATES
*/


// MAIN MENU

.main-menu { 
  align-items: center;
  background-position: bottom -10rem center;
  background-repeat: repeat-x;
  backface-visibility: hidden;
  background-color: rgba($theme-blue,0.99);
  background-image: url(/assets/images/wave-group-large.svg);
  color: $white;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: auto;
  position: fixed;
  text-align: center;
  top: 0;
  transition-duration: .4s;
  transform: translateY(-100%);
  visibility: hidden;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  z-index: $z-index-main-menu;
  @include breakpoint($tablet) {
    background-position: bottom center;
  }
  &__links {
    @include list-vertical($padding-small-size);
    margin: 0;
    @include breakpoint($tablet) {
      @include list-vertical($padding-standard-size);
      margin-bottom: 9rem;
    }
  }
  &__link {
    @include main-menu-text;
    a {
      @include link-light;
    }
  }
}


// MAIN MENU STATES

.main-menu--is-visible {
  transform: translateY(0);
  visibility: visible;
}