/* MENU */
/*
- MENU
- MENU STATES
*/


// MENU

.main-menu { 
  transition-duration: .4s;
  transform: translateY(-100%);
  background: rgba(0, 0, 0, 0.95);
  backface-visibility: hidden;
  display: flex;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  z-index:  200;
}


// MENU STATES

.main-menu--is-visible {
  transform: translateY(0);
}