/* SECTION */
/*
- SECTION
- SECTION STATES
*/



// SECTION

.section {
  @include layout-vertical-padding($vertical-padding-standard);
  align-items: center;
  display: flex;
  justify-content: center; 

}


// SECTION STATES

.section--introduction {
  padding-top: $padding-standard-size;
  @include breakpoint($tablet) {
    padding-top: $padding-large-size;
  }
}

.section--contact, 
.section--horizontal-scroll {
  @include layout-vertical-padding($vertical-padding-none); 
}

.section--jesuit-bg {
  background-image: url(/assets/images/boston-college-jesuit-logo.png);
  background-position: left 3rem;
  background-repeat: no-repeat;
  @include breakpoint($tablet) {
    background-position: left center;
  }
}

.section--rays-bg {
  background-image: url(/assets/images/boston-college-rays.png);
  background-position: right 3rem;
  background-repeat: no-repeat;
  @include breakpoint($tablet) {
    background-position: right center;
  }
}

.section--media-responsive {
  margin-bottom: 4rem;
  padding-bottom: 0;
  padding-top: 0;
}