/* SECTION */
/*
- SECTION
- SECTION STATES
*/



// SECTION

.section {
  @include layout-vertical-padding($vertical-padding-standard);
  align-items: center;
  display: flex;
  justify-content: center; 

}


// SECTION STATES

.section--introduction {
  padding-top: $padding-large-size;
}

.section--contact, 
.section--horizontal-scroll {
  @include layout-vertical-padding($vertical-padding-none); 
}

.section--projects {
}

.section--contact-information {
}

.section--map {
}

.section--jesuit-bg {
  background-image: url(/assets/images/boston-college-jesuit-logo.png);
  background-position: left center;
  background-repeat: no-repeat;
}

.section--rays-bg {
  background-image: url(/assets/images/boston-college-rays.png);
  background-position: right center;
  background-repeat: no-repeat;
}
