/* SECTION */
/*
- SECTION
- SECTION STATES
*/



// SECTION

.section {
  @include layout-vertical-padding($vertical-padding-standard);
  align-items: center;
  display: flex;
  justify-content: center; 

}


// SECTION STATES

.section--introduction {
  padding-top: $padding-large-size;
}

.section--contact {
  background-color: $theme-light-green; 
  background-image: url(/assets/images/wave-group.svg);
  background-position: bottom center;
  background-repeat: repeat-x;
}

.section--projects {
}

