
/* LAYOUT */

  .container-text {
    margin: 0 auto;
    max-width: 700px; 
    padding: 25px;
  }

  .container-card {
    margin: 0 auto;
    max-width: 1000px; 
    padding: 25px;
  }

  .container-header {
    display: block;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
    max-width: 1000px;
  }



.skill {
    background: #fff;
    border-radius: 3;
    float: left;
    margin: 2px;
    padding: 5px;
}

.image-block-set {
    float: left;
    margin-left: -100px;
    width: 900px;
    position: relative;
}

.image-block {
    float: left;
    max-width: 300px;
    position: relative;
    margin-top: 3.5em;
    margin-bottom: 3.5em;
}


/* HOME */

.home-container {
    height: 100vh;
}

.half-width {
    position: absolute;
    top: 0;
    height: 100vh;
    overflow: hidden;
    width: 50vw;
    z-index: 10;
}

.half-width.right {
    background: #111;
    left: 50%;
    background-image: url('../assets/images/home-placer.png');
    background-position: center center;
    background-size: cover;
}

.half-width.left {
    background: #fff;
    background-image: url('../assets/images/background-placer.png');
}

.quarter-width, .three-quarter-width {
    position: absolute;
    top: 0;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
}

.quarter-width {
    background: #111;
    width: 25vw;
    //left: 75%;
}

.three-quarter-width {
    background: #fff;
    width: 75vw;
}

.home {
  font-family:  $font-title;
}

.home-text {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.home-text hr {
  background: $menu-background;
  border: none;
  display: inline-block;
  height:5px;
  width: 15%;
}

.home h1 {
  letter-spacing: -1px;
}

.home p {
  font-family: helvetica neue;
}

/* CARDS */

.card {
    background: #fff;
    float: left;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;
    transition: all 0.5s ease;
    transform: scale(1);
}

.card:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
    transition: all 0.5s ease;
}

.card-header {
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.card:hover .card-header {
    transform: scale(1.3);
    background-position: center center;
}

.card h2 {
    font-size: 2em;
    margin-top: .5em;
  
}

.card:hover .card-body {
  background: rgba(0,0,0,0.75);
  color: white;
  cursor: pointer;
  display: table;
  height: 300px;
  left: 0;
  position: absolute;
  top: 0;
  width: 101%;
  transition: all 0.5s ease;
}

.card:hover .card-body h2 {
  display: table-cell;
  font-family: $font-title;
  text-align: center;
  vertical-align: middle;
}

.card-body a{
  color: #fff;
}

.card-body {
    padding: 1em;
}

/* CARD BOX */

.card-box {
    background: #fff;
    float: left;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;
    transition: all 0.5s ease;
    transform: scale(1);
}

.card-box:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
    transition: all 0.5s ease;
}

.card-box-header {
    background-size: 100%;
    height: 300px;
}

.card-box:hover .card-header {
    transform: scale(1.3);
    background-position: center center;
}

.card-box h2 {
    font-size: 2em;
    margin-top: .5em;
  
}

.card-box .card-body {
  background: rgba(0,0,0,0.75);
  color: white;
  cursor: pointer;
  display: table;
  height: 300px;
  left: 0;
  position: absolute;
  top: 0;
  width: 101%;
  transition: all 0.5s ease;
}

.card-box .card-body h2 {
  font-family: $font-title;
  text-align: center;
  vertical-align: middle;
}

.card-body a{
  color: #fff;
}

.card-body {
    padding: 1em;
}


/* COLUMNS */
.column1, .column2, .column3 {
  float: left;
  position: relative;
  width: 33.33%;
}

.column1 {
  background: #111;
}

.column2 {
  background: #660000;
}

.column3 {
  background: #eee;
}

.offset-half {
  margin-top: 150px;
}

.offset-third {
  margin-top: 100px;
}

.offset-two-thirds{
  margin-top: 200px;
}
/* FOOTER */
footer {
    background: #ececec;
    text-align: center;
}
