
/* COMPONENTS*/

.back {
  background: #fff;
  color: #111;
  float: left;
  margin-bottom: -80px;
  position: relative;
}


/* OVERLAY */
body {
	background: #ddd;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(00,00,00,0.95);
    z-index: 10;
}

.container {
	background: #fff;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.container.overlay-open {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

.overlay-contentscale {
	visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentscale.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	font-size: 54px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}

/* RESPONSIVE VIDEO */
.responsive-video {
	   height: 0;
	   position: relative;
	   padding-bottom: 56.25%;
	   padding-top: 30px;
  }
  
  html.responsive-video {
	   padding-top:0;
  }
  
  .responsive-video iframe, .responsive-video object, .responsive-video embed {
	   height: 100%;
	   left: 0;
	   position: absolute;
	   top: 0;
	   width: 100%;
	   z-index: 0; /*FIXIFRAME YOUTUBE Z INDEX ISSUE IN IE */
  }
  

/* BACKGROUND VIDEO */
  #video_background {
	  position: absolute;
	  bottom: 0px;
	  right: 0px;
      left: 0;
      
      
	  min-width: 100%;
	  min-height: 100%;
	  width: auto;
	  height: auto;
	  z-index: -1;
	  overflow: hidden;
  }
  
  .video-background {
	  min-height: 100vh;
  }
  
  .video-background {
	  background: none;
  }

/* HIGHLIGHT VIDEO */
.highlight-video {
    color: #fff;
    display: block;
    float: left;
    width: 100%;
}

.highlight-video a {
    color: #fff;
}
  
/* GRADIENT OVERLAY */

.gradient-overlay {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+0,0.4+100;Neutral+Density */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
  }

/* IMAGES */
.brand-image {
    max-width: 400px;
}