<search-overlay></search-overlay>  
<!-- MENU BUTTON -->    
<button  id="trigger-overlay" type="button" ng-click="overlayMenu()" class="menu-overlay menu-overlay-transform" ng-class="menuOverlayClass" >
    <span>toggle menu</span>
</button>
<!-- BRANDING -->
<div class="branding"><a href="#/"><img src="assets/images/pacific-light.png" class="brand-image" alt="Mikal Morello Brand"/></a></div>
<!-- SEARCH BUTTON -->
<button type="button" class="search-overlay" ng-click="searchDisplay()">
    <span class="" ng-class="searchIconClass" ></span>
</button>
<div class="clear"></div>

