<!-- OVERLAY MENU -->
  <div ng-class="overlayClass">
    <!--<button type="button" class="overlay-close ti-close" ng-click="overlayMenu()"><span class="accessible-text">Close Menu</span></button>-->
      <nav>
        <ul>
          <li><a href="#/home" ng-click="overlayMenu()">Home</a></li>
          <li><a href="#/projects" ng-click="overlayMenu()">Projects</a></li>
          <li><a href="#/blog" ng-click="overlayMenu()">Blog</a></li>
          <li><a href="#/contact" ng-click="overlayMenu()">Contact</a></li>
        </ul>
      </nav>
  </div>
  <!-- OVERLAY MENU END -->
